/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
html {
  color: #222;
  line-height: 1.4;
  font-size: 1em;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*Better looking default rules*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**/
/* ============================== BASE STYLES ======================== */
/**/
/* ----- Global Margins and Padding ----- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  font-family: 'Kadwa', serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #131313;
  padding: 15px 0 15px 0;
}

.wrapper {
  margin: 0 5% 0 5%;
}

main, .transbox, footer {
  padding: 2em 0 2em 0;
}

#banner, .half-width, .section-title, .title, figure, .social, p, i, img {
  padding: 1em 0 1em 0;
}

/* ----- Central Alignments ----- */
.section-title, .title, .type, footer, #name, nav {
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

/* ----- Global Font Styles ----- */
p:lang(es) {
  font-style: italic;
}

a, i {
  text-decoration: none;
  color: #388cba;
}

a:hover, i:hover {
  color: #7b69a7;
}

.section-title, #code {
  color: #f90239;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: normal;
}

.credit {
  font-size: 0.75em;
  text-align: right;
  display: none;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
}

header #name, nav, .title {
  font-size: 1.25em;
  font-weight: bold;
}

/**/
/* =============================== HEADER ============================ */
/**/
#name .separator {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  width: 33.3%;
}

#hero {
  background-image: url('../img/hero-fabian-grohs-unsplash2.jpg');
  background-size: cover;
  height: 24em;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#hero #tagline {
  text-align: right;
  font-size: 2.4em;
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

#tagline #code {
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

#credit1 {
  display: block;
}

/**/
/* ====================== MAIN PORTFOLIO ========================== */
#portfolio .download {
  font-style: italic;
}

#portfolio .type {
  font-size: 1.1em;
}

#portfolio img:hover {
  border: 2px solid #7b69a7;
}

/**/
/* ============================= ABOUT ME ======================== */
#about {
  color: #000000;
}

.transbox {
  background: rgba(223, 206, 177, 1.0);
}

/**/
/**/
/* ========================== FOOTER CONTACT ========================= */
/**/
address {
  font-style: normal;
}

footer #profile-pic img {
  width: 50%;
  max-width: 200px;
}

footer .social p.details {
  line-height: 2em;
}

footer #social-icons {
  max-width: 300px;
  margin: auto;
}

i {
  font-size: 2.5em;
  width: 30%;
}

/**/
/** +++++++++++++++++++++++++ TABLET STYLES: PORTRAIT ++++++++++++++++++ **/
@media only screen and (min-width: 768px) {

  /** ======================== Base: Portrait ==================== **/
  /** =================== Header: Portrait ================== **/
  /** ================ Main Portfolio: Portrait ============== **/
  #portfolio .half-width {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
  }

  #portfolio .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
  }

  #portfolio figure {
    display: flex;
    justify-content: flex-end;
    order: -2;
    padding-right: 20px;
    width: 50%;
    height: 100%;
  }

  #portfolio .title, #portfolio .type {
    text-align: left;
  }

  /** =================== About: Portrait ================== **/
  #about {
    background-image: url('../img/paul-jewkes-ztXR9ogE5l0-unsplash2.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  .transbox {
    background: rgba(223, 206, 177, 0.85);
  }

  #credit2 {
    display: block;
  }

  /** =================== Footer Contact: Portrait ================== **/
  address {
    display: flex;
    justify-content: space-around;
  }

  address #follow {
    order: 2;
  }

  address .social {
    width: 33%;
  }
}

/**/
/** ++++++++++++++++++++ TABLET STYLES: LANDSCAPE +++++++++++++++++ **/
@media only screen and (min-width: 1024px) {

  /** =================== Base Styles: Landscape ================== **/
  /** =================== Header: Landscape ================== **/
  #banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #name .separator {
    display: inline;
  }

  #name br, #tagline br {
    display: none;
  }

  nav {
    width: 40%;
  }

  nav ul {
    flex-wrap: wrap;
    text-align: right;
  }

  /** =================== Main Portfolio: Landscape ================== **/
  #portfolio .half-width {
    height: 350px;
  }

  #portfolio .description {
    padding-left: 50px;
  }

  #portfolio figure {
    padding-right: 50px;
  }

  /** =================== About: Landscape ================== **/
  #about {
    background-image: url('../img/jakob-owens-JC9MZUBshtM-unsplash2.jpg');
  }

  #about .half-width {
    display: flex;
  }

  #about .description {
    width: 50%;
  }

  #column1 {
    border-right: 2px solid black;
    padding-right: 50px;
  }

  #column2 {
    padding-left: 50px;
  }

  #credit2 {
    display: none;
  }

  #credit3 {
    display: block;
  }

  /** =================== Footer Contact: Landscape ================== **/
}

/**/
/** +++++++++++++++++++++++++ DESKTOP STYLES ++++++++++++++++++++++++ **/
@media only screen and (min-width: 1200px) {

  /** =================== Base Styles: Desktop ================== **/
  html {
    background-image: linear-gradient(rgba(19, 19, 19, 1), rgba(56, 140, 186, .3));
  }

  /** =================== Header: Desktop ================== **/
  /** =================== Main Portfolio: Desktop ================== **/
  /** =================== About: Desktop ================== **/
  /** =================== Footer Contact: Desktop ================== **/
}

/**/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Other example Media Queries for Responsive Design.
   ========================================================================== */
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
