/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***** ===== BASE STYLES ===== *****/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
  width: 100%;
}


body {
  width: 100%;
  background-color: #131313;
  color: #ffffff;
  font-family: 'Kadwa', serif;
}


a {
  /*color: #64a9df;*/
  color: #ffffff;
}

a:hover {
  color: #227fab;
}

.wrapper {}

.photo-credit {
  font-size: .5em;
  text-align: right;
  /*color: #9c9c9c;*/
  color: #bfb3d7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

.heading {
  text-align: center;
  color: #f90239  ;
  /*border: 3px solid yellow;*/
  padding: 2%;
  font-size: 1.25em;
}

.title {
  text-align: center;
  /*font-weight: bold;*/
  font-size: 1.15em;
  /*color: #fc2601;*/
  /*color: #D7FCD4;*/
  color: #bfb3d7;
}

.type {
  text-align: center;
  font-size: 1.10em;
}

img {
  width: 100%;
}

p {
  padding: 5%;
}

/***** FONTS *****/
/*
font-family: 'Roboto Mono', monospace;
font-family: 'Kadwa', serif;
*/
/***** ===== HEADER ===== *****/
header {
  border: 2px solid red;
  margin-top: 0;
  padding-top: 0;
}

header #banner-bar {
  /*border: 5px solid green;*/
}

#name h1 {
  border: 2px solid green;
  font-size: 1em;
  /*font-size: 4vw; /*font scaling */
  text-align: center;
  font-weight: normal;
  padding: 0;
}

nav {
  border: 2px solid cyan;
  padding: 0;

}

nav ul {
  list-style: none;
  font-size: 1em;
  padding: 0;
  /*font-size: 4vw; /*font scaling */
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

nav ul li {
  /*border: 2px solid red;*/
  width: 33.3%;
  text-align: center;
  padding: 0;

}

nav a {
  margin: 0;
  padding: 0;
}

#hero {
  /*border: 5px dashed purple;*/
  background-image: url('../img/hero-fabian-grohs-unsplash.jpg');
  background-size: cover;
  height: 15em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  text-shadow:
    -1px -1px 0 #bfb3d7,
    1px -1px 0 #bfb3d7,
    -1px 1px 0 #bfb3d7,
    1px 1px 0 #bfb3d7;
  font-size: 1.5em;
  letter-spacing: 5px;

}

#tagline {
  /*padding: 5%;*/
}

#code {
  color: #f90239;
  /*background-color: #bcacc9;*/
}

/***** ===== MAIN PORTFOLIO ===== *****/
#portfolio {
  /*border-top: 1px solid #f90239;*/

}

.project {
  /*border: 5px solid red;*/
  padding-bottom: 10%;
  /*border-bottom: 0.5px solid #f90239;*/
}

.project .title, .type {
  padding: 0;
  margin: 1%;
}

.portfolio-image {
  margin: 0 0 5% 0;
  /*border: 2px dashed lightblue;*/
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image img {
  /*border: 2px solid red;*/
   max-width: 100%;
   width: auto;
   height: auto;

}

/***** ===== ABOUT SECTION ===== *****/
#about {
  background-image: url('../img/monitors-farzad-nazifi-unsplash.jpg');
  background-size: cover;
border: 2px solid magenta;
margin: 0;
padding: 0;
}

#about .description, #about .title, #about .photo-credit  {
  color: #131313;
}

.transbox {
 background: rgba(191, 179, 215, 0.9);
/*border: 5px solid blue;*/
padding-bottom: 0;
margin: 0;
height: 100%;
}

#personal-statement {
  /*border: 2px solid green;*/
}

#what-now {
  /*border: 2px solid red;*/
}

/***** ===== FOOTER CONTACT ===== *****/
footer {
  border: 5px solid green;
  text-align: center;
  margin: 0;
}

address {
  /*border: 2px solid yellow;*/
  font-style: normal;
}

.social-icons a:hover {
  color: #227fab;
}

i {
  color: #f90239;
  font-size: 3em;
  /*border: 2px solid pink;*/
  width: 30%;
  padding: 5%;
}

#copyright {
  /*border: 2px solid red;*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
